include mocha.conf

font_size {{ .kitty.fontSize }}

font_family      family='{{ .kitty.font }}' style={{ .kitty.styleNormal }}
bold_font        family='{{ .kitty.font }}' style={{ .kitty.styleBold }}
italic_font      family='{{ .kitty.font }}' style={{ .kitty.styleItalic }}
bold_italic_font family='{{ .kitty.font }}' style={{ .kitty.styleBoldItalic }}

modify_font cell_height {{ .kitty.cellHeight }}
modify_font cell_width {{ .kitty.cellWidth }}

disable_ligatures always
{{- if eq .chezmoi.os "darwin" }}
shell /opt/homebrew/bin/bash
{{- else }}
shell /bin/bash
{{- end }}
